/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

.header {
	border-bottom: #2b3990 6px solid;
	background-image: url('./images/tr_header.jpg');
	background-repeat:repeat-y;
	background-position: left;
	background-color: #2b3990;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	right: 0px;
	height: 100px;
	position: absolute;
	top: 0px;	
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.de_hyperlink {
	cursor: pointer;
	color: #0098AA;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	height: 30px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.x-panel-header {
	text-align: left !important;
}

.image-view-panel {
	text-align: left;
	background-color: white;	
}

.de_tr_hyperlink {
	cursor: pointer;
	color: #0098AA;
	text-decoration: underline;
}





.biological_process span.tagcloud0 { font-size: 12px; color: #0000ff; }
.biological_process span.tagcloud1 { font-size: 13px; color: #0000ff; }
.biological_process span.tagcloud2 { font-size: 14px; color: #0000ff; }
.biological_process span.tagcloud3 { font-size: 15px; color: #0000ff; }
.biological_process span.tagcloud4 { font-size: 16px; color: #0000ff; }
.biological_process span.tagcloud5 { font-size: 17px; color: #0000ff; }
.biological_process span.tagcloud6 { font-size: 18px; color: #0000ff; }
.biological_process span.tagcloud7 { font-size: 19px; color: #0000ff; }
.biological_process span.tagcloud8 { font-size: 20px; color: #0000ff; }
.biological_process span.tagcloud9 { font-size: 21px; color: #0000ff; }
.biological_process span.tagcloud10 { font-size: 22px; color: #0000ff; }
.biological_process span.tagcloud11 { font-size: 23px; color: #0000ff; }
.biological_process span.tagcloud12 { font-size: 24px; color: #0000ff; }
.biological_process span.tagcloud13 { font-size: 25px; color: #0000ff; }
.biological_process span.tagcloud14 { font-size: 26px; color: #0000ff; }
.biological_process span.tagcloud15 { font-size: 27px; color: #0000ff; }
.biological_process span.tagcloud16 { font-size: 28px; color: #0000ff; }
.biological_process span.tagcloud17 { font-size: 29px; color: #0000ff; }
.biological_process span.tagcloud18 { font-size: 30px; color: #0000ff; }
.biological_process span.tagcloud19 { font-size: 31px; color: #0000ff; }
.biological_process span.tagcloud20 { font-size: 32px; color: #0000ff; }


.cellular_component span.tagcloud0 { font-size: 12px; color: #009900; }
.cellular_component span.tagcloud1 { font-size: 13px; color: #009900; }
.cellular_component span.tagcloud2 { font-size: 14px; color: #009900; }
.cellular_component span.tagcloud3 { font-size: 15px; color: #009900; }
.cellular_component span.tagcloud4 { font-size: 16px; color: #009900; }
.cellular_component span.tagcloud5 { font-size: 17px; color: #009900; }
.cellular_component span.tagcloud6 { font-size: 18px; color: #009900; }
.cellular_component span.tagcloud7 { font-size: 19px; color: #009900; }
.cellular_component span.tagcloud8 { font-size: 20px; color: #009900; }
.cellular_component span.tagcloud9 { font-size: 21px; color: #009900; }
.cellular_component span.tagcloud10 { font-size: 22px; color: #009900; }
.cellular_component span.tagcloud11 { font-size: 23px; color: #009900; }
.cellular_component span.tagcloud12 { font-size: 24px; color: #009900; }
.cellular_component span.tagcloud13 { font-size: 25px; color: #009900; }
.cellular_component span.tagcloud14 { font-size: 26px; color: #009900; }
.cellular_component span.tagcloud15 { font-size: 27px; color: #009900; }
.cellular_component span.tagcloud16 { font-size: 28px; color: #009900; }
.cellular_component span.tagcloud17 { font-size: 29px; color: #009900; }
.cellular_component span.tagcloud18 { font-size: 30px; color: #009900; }
.cellular_component span.tagcloud19 { font-size: 31px; color: #009900; }
.cellular_component span.tagcloud20 { font-size: 32px; color: #009900; }


.molecular_function span.tagcloud0 { font-size: 12px; color: #ff0000; }

.molecular_function span.tagcloud1 { font-size: 13px; color: #ff0000; }
.molecular_function span.tagcloud1odd { font-size: 13px; color: #990000; }
.molecular_function span.tagcloud2 { font-size: 14px; color: #ff0000; }
.molecular_function span.tagcloud2odd { font-size: 14px; color: #990000; }
.molecular_function span.tagcloud3 { font-size: 15px; color: #ff0000; }
.molecular_function span.tagcloud3odd { font-size: 15px; color: #990000; }
.molecular_function span.tagcloud4 { font-size: 16px; color: #ff0000; }
.molecular_function span.tagcloud4odd { font-size: 16px; color: #990000; }
.molecular_function span.tagcloud5 { font-size: 17px; color: #ff0000; }
.molecular_function span.tagcloud5odd { font-size: 17px; color: #990000; }
.molecular_function span.tagcloud6 { font-size: 18px; color: #ff0000; }
.molecular_function span.tagcloud6odd { font-size: 18px; color: #990000; }
.molecular_function span.tagcloud7 { font-size: 19px; color: #ff0000; }
.molecular_function span.tagcloud7odd { font-size: 19px; color: #990000; }
.molecular_function span.tagcloud8 { font-size: 20px; color: #ff0000; }
.molecular_function span.tagcloud8odd { font-size: 20px; color: #990000; }
.molecular_function span.tagcloud9 { font-size: 21px; color: #ff0000; }
.molecular_function span.tagcloud9odd { font-size: 21px; color: #990000; }
.molecular_function span.tagcloud10 { font-size: 22px; color: #ff0000; }
.molecular_function span.tagcloud10odd { font-size: 22px; color: #990000; }
.molecular_function span.tagcloud11 { font-size: 23px; color: #ff0000; }
.molecular_function span.tagcloud11odd { font-size: 23px; color: #990000; }
.molecular_function span.tagcloud12 { font-size: 24px; color: #ff0000; }
.molecular_function span.tagcloud12odd { font-size: 24px; color: #990000; }
.molecular_function span.tagcloud13 { font-size: 25px; color: #ff0000; }
.molecular_function span.tagcloud13odd { font-size: 25px; color: #990000; }
.molecular_function span.tagcloud14 { font-size: 26px; color: #ff0000; }
.molecular_function span.tagcloud14odd { font-size: 26px; color: #990000; }
.molecular_function span.tagcloud15 { font-size: 27px; color: #ff0000; }
.molecular_function span.tagcloud15odd { font-size: 27px; color: #990000; }
.molecular_function span.tagcloud16 { font-size: 28px; color: #ff0000; }
.molecular_function span.tagcloud16odd { font-size: 28px; color: #990000; }
.molecular_function span.tagcloud17 { font-size: 29px; color: #ff0000; }
.molecular_function span.tagcloud17odd { font-size: 29px; color: #990000; }
.molecular_function span.tagcloud18 { font-size: 30px; color: #ff0000; }
.molecular_function span.tagcloud18odd { font-size: 30px; color: #990000; }
.molecular_function span.tagcloud19 { font-size: 31px; color: #ff0000; }
.molecular_function span.tagcloud19odd { font-size: 31px; color: #990000; }
.molecular_function span.tagcloud20 { font-size: 32px; color: #ff0000; }

